//FONTS

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Merienda:300,regular,500,600,700,800,900);

@font-face {
    font-family: 'MuseoModerno';
    src: url(fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'dancing';
    src: url(fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'cube';
    src: url(fonts/cube/Cube.ttf);
}
@font-face {
    font-family: 'neon';
    src: url(fonts/neon/Neon.ttf);
}
@font-face {
    font-family: 'teko';
    src: url(fonts/Teko/Teko-Regular.ttf);
}

//VARIABLES

$color-primario:#13a8fe;
$color-primario-oscuro:#0371b0;
$color-secundario: #ff00ff;
$color-terciario: #ffa300;
$color-adicional: #cf0060;
$color-fondo: #000045;
$color-blanco: #fff;
$color-negro: #000;
$color-gris100: #dedede;
$color-gris200: #ccc;
$color-gris300: #999;
$color-gris400: #666;
$color-gris600: #444;
$color-verde-neon: #2ef8a0;
$color-rojo-neon: #f82e86;
$color-texto: #1d1d1f;
$color-primario-restaurante: #ff7b00;
$color-primario-restaurante-dark: darken($color-primario-restaurante, 10);


//RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//GENERALES

body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

header, section{
    padding: 100px 0;
}

.box-center{
    width: 80%;
    margin: auto;
}

h1{
    color: $color-blanco;
    font-size: 10vmin;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;


    .tprincipal{
        font-family: "Merienda";
        color: $color-blanco;
        font-size: 12vmin;
        font-weight: bold;
    }
}