
//VARIABLES

$color-primario:#13a8fe;
$color-primario-oscuro:#0371b0;
$color-secundario: #ff00ff;
$color-terciario: #ffa300;
$color-adicional: #cf0060;
$color-fondo: #000045;
$color-blanco: #fff;
$color-negro: #000;
$color-gris100: #dedede;
$color-gris200: #ccc;
$color-gris300: #999;
$color-gris400: #666;
$color-gris600: #444;
$color-gris700: #222;
$color-verde-neon: #2ef8a0;
$color-rojo-neon: #f82e86;
$color-texto: #1d1d1f;
$color-primario-restaurante: #ff7b00;
$color-primario-restaurante-dark: darken($color-primario-restaurante, 10);

