.header{
    position: relative;
    @include dflex(center, center, column nowrap);
    width: 100%;
    height: 600px;
    background: url(../../img/image1.jpg);
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 80%, 0 0, 100% 0, 100% 80%, 50% 100%);

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.5);
    }

    *{
        position: relative;
    }
}